@import "remove-reset-slash/userChrome.css";
@import "cleanTabs-archive-icon/userChrome.css";
@import "quicktabs-tweak/userChrome.css";
@import "minor-workspace-indicator-tweak/userChrome.css";
@import "nebula-miniplayer-margin-tweak/userChrome.css";
@import "tab-throbber-loading-circle/userChrome.css";
@import "change-copy-url-ext-adressbar-icon/userChrome.css";

@media (-moz-bool-pref: "randommods.hide-overflow-button") {
  #nav-bar-overflow-button {
    display: none;
  }
}

@media (-moz-bool-pref: "randommods.show-pageaction-in-urlbar") {
  :root[zen-single-toolbar="true"] {
    #urlbar:hover {
      .urlbar-addon-page-action {
        display: inherit !important;
      }
    }
    #page-action-buttons {
      order: 1 !important;
    }
  }
}

@media (-moz-bool-pref: "randommods.panelview-noborder") {
  panelview {
    border: 0px !important;
    background-color: unset !important;
    color: initial !important;
  }
}