& .zen-current-workspace-indicator-icon {
	width: 18px !important;
    height: 18px !important;
}

& .zen-current-workspace-indicator-name {
    padding-top: 2.25px !important;
    opacity: 1 !important;
}

.zen-current-workspace-indicator {
    gap: 6px !important;
}