@media (-moz-bool-pref: "randommods.minor-workspace-indicator-tweak") {
  .zen-current-workspace-indicator {
    & .zen-current-workspace-indicator-icon {
      @media (-moz-platform: windows) {
        & img {
          margin-bottom: unset !important;
          margin-right: 1px;
          width: 28px;
          height: 28px;
          opacity: 0.85 !important;
        }
      }
    }
  }

  & .zen-current-workspace-indicator-name {
    opacity: 0.85 !important;
  }

  .zen-current-workspace-indicator {
    gap: 7px !important;
  }
}
